# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and outputs
data/output/
data/ingested/
data/chunks/
data/graph/
data/chroma/
*.log
neo4j_debug.log

# VS Code / IDEs
.vscode/
.idea/
*.swp
*.swo
data/input_pdfs/
test_openai.py
test_schema.py
resample_ft_data.py
